# OS
.DS_Store
Thumbs.db

# PlatformIO
.firmware/.pio
.pioenvs

# Node
dashboard/frontend/node_modules/
dashboard/backend/node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
.venv/
.env

# IDE
.vscode/settings.json
.idea/

# Generated
*.tflite
*.bin
*.fzz
*.fcstd
hardware/buoy_design/*.png
